body {
    padding: 55px;
    background-color: rgb(0, 0, 0);
    color: white;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
  }

.main-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    margin-bottom: 20px;

    border-radius: 8px;
}

#graph {
    --mask: linear-gradient(to left, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 95%, 
    rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);
}

.canvas-container {
    height: 80%;
}

.border {
    border: rgb(51, 51, 51)    1px solid;
    border-radius: 8px;
}

.test-border {
    border: red 2px dashed;
}


.days-container {
    display: flex;
    width: 100%;
}

.top-day-container {
    margin-top: 0px;
}

.bottom-day-container {
    margin-top: 20px;
    margin-bottom: 20px;

}

.day-container {
    flex: 1;
    text-align: center;
    color: rgb(250,250,250);
}

.day-container.not-active {
    color: rgb(100,100,100);
}

.day-container-element {

}

.day-progress {
    width: 30px;
    height: 30px;
}

#tasks-days-container {
    display: flex;
}

.tasks-container {
    flex: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s linear; /* Adjust the duration and easing as needed */
    height: 0px;

}

.tasks-container.active {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.tasks-container.active .task-container {
    margin: 20px;
}

.task-container {
    flex: 1;
    display: flex;
}

#interaction-window {
    display: flex;
    text-align: center;
}

.side-by-side {
    flex: 1;
    padding: 0px;
    margin: 0px;

}

#task-input {
    width: 50%;
    padding-top: 50px;
}

#display-tasks {
    transition: 0.7s linear; /* Adjust the duration and easing as needed */
}

#input-box {
    background: black;
    color: white;
    
}

.button-holder {
    display: inline-block;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.task-button {

    text-align:center;
    border-radius: 20%;
    margin-right: 16px;
}


.remove-task-button {
    background-color: red;
}
.remove-task-button:after {
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

.complete-task-button {
    background-color: green;
}
.complete-task-button:after{
    display: inline-block;
    content: "\2713"; /* This will render the 'tick' */
  }

.task-text {
    display:inline-block;
    padding-top: 16px;
    padding-left: 15px;
}

.task-text.completed {
    color: rgb(98, 98, 98);
    text-decoration: line-through
}

#submit-button {
    height: 10px;
    width: 20px;
}