body {
    padding: 55px;
    background-color: rgb(0, 0, 0);
}

.main-container {
    padding: 30px;
    height: 250px;
    border: purple 1px solid;
    background-color: blue;
    padding-bottom: 30px;

    margin-bottom: 20px;

    border: rgb(41, 41, 41)    1px solid;
    border-radius: 8px;
}

#graph {
    --mask: linear-gradient(to left, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 95%, 
    rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);
    
}

.canvas-container {
    height: 80%;
    background-color: red;
}

.border {
    border: rgb(41, 41, 41)    1px solid;
    border-radius: 8px;
}

.test-border {
    border: red 2px dashed;
}


.days-container {
    display: flex;
    border: blue 1px solid;
    width: 100%;
}

.day-container {
    flex: 1;
    text-align: center;
}

.day-progress {
    width: 30px;
    height: 30px;
    border: blue 1px solid;
}

p, sup {
    color: white;
}